<a href="https://colab.research.google.com/github/Phuti-ane/Scraping-info-from-the-web/blob/main/Scraping_Web_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#getting the url to be used to extract information
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_South_Africa'

#assign the link
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

#we only want the table first before extracting exact data
table = soup.find_all('table')[0]
#table_text = table.text.strip()


#sorting in Heading(extracting headings)
table_title = table.find_all('th')
table_title_text = [title.text.strip() for title in table_title]

#put headings in a column with panda through data frame
df = pd.DataFrame(columns = table_title_text)
#create a 2 dimension table with panda
table_colu = table.find_all('tr')

for row in table_colu[1:]:
    row_data = row.find_all('td')
    individual = [row_text.text.strip() for row_text in row_data]
    length = len(df)
    df.loc[length] = individual
df
#we call df and not print
#next we will add to excel sheet

,Rank,Company,Revenue(US$ millions),Profits(US$ millions),Industry
0,1,Eskom,"13,941","−1,292",Electric utility
1,2,Sasol,"12,989","−6,272",Chemistry
2,3,MTN Group,"12,238","1,341",Telecommunications
3,4,Shoprite Holdings,"10,802",230,Retail
4,5,Steinhoff International,"9,704","−2,910",Holding
5,6,Anglo American Platinum,"9,402","2,074",Mining
6,7,Sibanye Gold,"8,692","2,089",Mining
7,8,Spar Group,"8,479",134,Retail
8,9,Bidcorp,"8,227",78,Agroindustry
9,10,Vodacom Group,"6,707","1,165",Telecommunications
10,11,Pick n Pay Stores,"6,351",66,Retail
11,12,Naspers,"5,934","3,404",Holding
12,13,Massmart,"5,920",−120,Retail
13,14,Kumba Iron Ore,"5,466","2,036",Mining
14,15,Vodacom South Africa,"5,236",...,Telecommunications
15,16,Bidvest Group,"5,233",−13,Holding
16,17,Motus,"5,009",13,Automotive
17,18,Woolworths South Africa,"4,927",38,Retail
18,19,Impala Platinum,"4,766","1,125",Mining
19,20,Sappi,"4,609",−135,Pulp and paper
20,21,Transnet,"4,590",−572,Transport
21,22,Engen Petroleum,"4,555",−257,Oil and gas
22,23,AngloGold Ashanti,"4,427",971,Mining
23,24,Pepkor,"4,300",...,Holding
24,24,Datatec,"4,110",6,Information technology
25,26,Mediclinic International,"4,066",284,Healthcare
26,27,Gold Fields,"3,982",745,Mining
27,28,Remgro,"3,734",449,Holding
28,29,MultiChoice,"3,693",278,Telecommunications
29,30,Barloworld Limited,"3,390",−171,Conglomerate
30,31,Massmart Wholesale,"3,246",...,Wholesale
31,32,Imperial Logistics,"3,165",−15,Conglomerate
32,34,Telkom,"2,949",179,Telecommunications
33,35,Wilson Bayly Holmes-Ovcon,"2,939",−35,Construction
34,36,Transnet Freight Rail,"2,692",...,Transport
35,37,Massmart Retail,"2,654",...,Retail
36,38,Aspen Pharmacare,"2,637",315,Pharmaceuticals
37,39,Clicks Group,"2,463",128,Retail
38,40,Foschini Group,"2,428",−127,Retail
39,41,Super Group,"2,359",−11,Transport
40,42,RCL Foods,"2,162",68,Agroindustry
41,43,Tiger Brands,"2,033",71,Agroindustry
42,44,Harmony Gold,"1,995",−58,Mining
43,45,Exxaro,"1,974",716,Mining
44,46,Marikana,"1,833",947,Mining
45,47,Dis-Chem,"1,793",47,Healthcare
46,48,Life Healthcare Group,"1,732",3,Healthcare
47,49,ArcelorMittal South Africa,"1,681",−333,Steel
48,50,AECI,"1,645",11,Chemicals